html {
  background-color: rgb(20, 215, 72);
  font-family: 'Courier Prime', monospace;
  background-image: url(./assests/img/space-7710978_1280v4.jpg);
  background-size: cover;
  /* background-repeat: no-repeat; */
  height: 100vh;
  padding: 1%;
}
/* UNIVERSAL */
header {
  background-color: black;
  text-align: center;
  color: rgb(20, 215, 72);
  display: flex;
  flex-direction: row;
  justify-content: center;
}

h1, h3 {
  text-align: center;
}

a:link {
  color: white;
}

a:visited {
  color: rgb(20, 215, 72);
}

/* HOME */
#jumbrotron {
    background: url(./assests/img/alien-invasion-156407_1280.png) center center no-repeat;
    background-size: cover;
    height: 70vh;
    /* width: 100vw; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

#jumbrotron > h1 {
    background-color: rgb(20, 215, 72);
  }

/* IMAGES */
.mothership {
  max-width: 50%;
  max-height: auto;
  border: 20px dotted rgb(20, 215, 72);
}

.me {
  border: 20px solid rgb(20, 215, 72);
  max-width: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* EXP MAP */
#expPost {
  text-align: center;
  border: 2px solid rgb(20, 215, 72);
}

#tbl {
  background-color: rgb(20, 215, 72);
  text-align: center;
}

#what {
  height: 50px;
}

 /* Hidden other textbox */
#whoOtherText {
  display: none;
}

/* SPACE WEATHER */
.info {
  font-size: large;
  text-align: left;
  background-color: black;
  color: rgb(20, 215, 72);
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding: 2%;
}
#yes {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 5%;
}
/* ABOUT */
.about {
  font-size: x-large;
  border: 20px solid rgb(20, 215, 72);
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* CONTACT */
#contct {
  background-color: rgb(20, 215, 72);
  display: block;
  margin-top: auto;
  margin-bottom: auto;
  width: 50%;
}
.insta {
  margin-left: auto;
  margin-right: auto;
  background-color: black;
  justify-content: auto;
  font-size: large;
}

@media (max-width: 550px){
  .hidden--mobile {
    display: none !important;
  }
  nav > ul {
    background-color: black;
    /* display: inline; */
  }
  .about {
    font-size: medium;
  }
  .mothership {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }
  #contct {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
  }
  .insta {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  }
}

@media (min-width: 550px) {
  nav > .fa-user-astronaut{
    display: none;
  }
  nav > ul {
    display: flex;
    justify-content: space-evenly;
  }
  nav > ul > li {
    color: white;
    background-color: black;
    display: inline-block;
    border: 2px dotted rgb(20, 215, 72);
    padding: .3rem;
    border-radius: 15px;
    text-align: center;
  }
  .container {
    min-height: 100%;
    display: flex;
  }

  .left {
    left: 0px;
    width: 50%;
    text-align: center;
  }

  .right {
    right: 0px;
    width: 50%;
    text-align: center;
  }
}



